@charset "UTF-8";

* {
    padding: 10px;
    margin: 0px;
}

div#corpo {
    height: 350px;
    width: 230px;
    background-color: #808081;
}

div#tela {
    height: 40px;
    width: auto;
    background-color: #ffffff;
    padding: 0px;
}

input#tela2 {
    height: 100%;
    width: 100%;
    padding: 0px;
    border: 0px;
    font-size: 150%;
}

div#visor {
    background-color: blueviolet;
}

div#teclas {
    background-color: aqua;
    height: 260px;
    margin-top: 10px;
}